@font-face {
  font-family: 'nunito';
  src: local('nunito'), url(./fonts/nunito/Nunito-Regular.ttf) format('truetype');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  overflow-y: scroll;
}

@media only screen and (min-width: 1025px) {
 #root::-webkit-scrollbar {
    width: 5px;
    background-color: #181818;
  }

  #root::-webkit-scrollbar-thumb {
    background-color: #5ea14e;
    border-radius: 5px;
  } 
}