@font-face {
  font-family: 'nunito';
  src: local('nunito'), url(./fonts/nunito/Nunito-Regular.ttf) format('truetype');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}